.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct:hover {
  transition: 110ms ease-in;
  transform: scale(1.04);
  box-shadow: 1px 1px 6px gray;
  cursor: pointer;
}

.checkoutProduct_info {
  padding-left: 20px;
  max-width: 820px;
}

.checkoutProduct_info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
  border-radius: 7px;
  width: 150px;
}

.checkoutProduct_info > button:hover {
  transition: 100ms ease-in;
  transform: scale(1.06);
  cursor: pointer;
}

.checkoutProduct_info > button:active {
  background-color: #a88734;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_rating {
  display: flex;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}
